.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

.scores {
    display: flex;
    gap: 12px;
}

#game-message {
    margin-top: 12px;
}